.donators 
{
    width:100%;
    display: flex;
    justify-content: center;
    text-align:center;
}

table
{
    border:2px solid rgb(85, 82, 85);
}

tr:nth-child(2n+3)
{
    background-color: #8ac27a;
}
  
tr:nth-child(even)
{
    background-color: #e4a795;
}

.donators_table 
{
    display: flex;
    justify-content: center;
}

.cards 
{
    margin-top:20px;
    display: flex;
    justify-content: center;
}

.row 
{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

.col-header 
{
    box-shadow: 4px 4px 9px rgba(252, 194, 4, 0.74);
    border-radius: 20px;
    padding: 100px 100px;
    color: rgb(0, 0, 0);
    background-color: rgb(177, 148, 55);
}

.chart
{
    margin-top: 50px;
    border: 1px solid rgb(87, 85, 85);
    text-align: center;
}

.button
{
    margin-left:77%;
    
}

.btn
{
    width: 100px;
    height: 50px;
    background-color: rgb(177, 148, 55);
    border-radius: 25px;
    border: none;
    outline: none;
    color: rgb(22, 22, 22);
    cursor: pointer;
    position: relative;
    z-index: 0;
}
